.jumbotron {
    height: 450px;
    background: #101110;
    background-image: url('./radiumbanner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.section-one {
    padding: 50px;
}