@page "/"

<Meta property="og:title" content="Home" />

<div>
    <div class="jumbotron">
        
        <div class="header-text">
            <MudText Typo="Typo.h1" Class="ml-3">AN EXTENSIBLE MODLOADER FOR THE RUST COMMUNITY</MudText>
            <MudText Typo="Typo.h4" Class="ml-3" Style="margin-top: 25px;">
                Radium is a reliable and performant plugin loader for Rust game servers, supporting runtime hook injection,<br/>
                hotloading of DLL mods and .cs plugins, and a suite of libraries designed by professional modders.
            </MudText>
            
            <MudButton Variant="Variant.Filled" Style="background-color: #7289da; margin-left: 50px; margin-top: 25px;">
                <img src="discord.png" style="height: 50px;" />
            </MudButton>

        </div>
    </div>
    
    <div class="section-one">
        <MudGrid>
            
            <FeatureCard>
                <MudText Typo="Typo.h2" Class="ml-3">
                    Reliable Hook Injection
                </MudText>
                
                <MudText Typo="Typo.body2" Class="ml-3">
                    Radium uses Harmony
                </MudText>
            </FeatureCard>
            

        </MudGrid>
    </div>
</div>