body{ min-height:100vh; margin:0; position:relative; }

body {
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 50px; /* Set same as footer's height */
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

 
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

    #HeaderLogoButton {
        text-decoration: none!important;
    }

.CodeMirror {
    font-family: monospace;
    height: 300px;
    color: white;
    background: #101110;
    direction: ltr;
    border: none!important;
}

.editor-preview {
    background: #151716;
}

.EasyMDEContainer {
    margin-top: 25px;
}

.editor-toolbar {
    border:none!important;
}

.CodeMirror-cursor {
    border-left: 2px solid #fff;
}

.unordered-list.active {
    color: black;
}

.CodeMirror-line span {
    font-size: var(--mud-typography-body1-size);
    font-family: var(--mud-typography-body1-family);
    font-weight: var(--mud-typography-body1-weight);
    line-height: var(--mud-typography-body1-lineheight);
    letter-spacing: var(--mud-typography-body1-letterspacing);
    text-transform: var(--mud-typography-body1-text-transform);
}

.cm-header {
    color: white;
    font-family: Anton, serif!important;    
    font-size: var(--mud-typography-h1-size);
    font-family: var(--mud-typography-h1-family)!important;
    font-weight: var(--mud-typography-h1-weight);
    line-height: var(--mud-typography-h1-lineheight);
    letter-spacing: var(--mud-typography-h1-letterspacing);
    text-transform: var(--mud-typography-h1-text-transform);
    text-shadow:0 0 1px rgb(98 240 175 / 60%), 0 0 8px rgb(98 240 175 / 50%), 0 0 0.7rem rgb(98 240 175 / 30%), 0 0 2rem rgb(98 240 175 / 20%) !important;
}

.cm-comment {
    color: var(--mud-palette-secondary)

}

.editor-toolbar button.active, .editor-toolbar button:hover {
    background: #62f0af;
    color: #222;
    border:none
}