<footer class="footer mt-auto py-3">
    <span class="text-muted">
        © Radium Mods @DateTime.Now.Year - <a href="/about" class="text-decoration-none">About</a> - Open source at <a href="https://github.com/RadiumModloader/Radium" target="_blank" class="text-decoration-none"><i class="bi bi-github"></i> GitHub</a>
    </span>
</footer>