#HeaderLogoButton {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    height: 100%;
}


.mud-toolbar-appbar:hover #HeaderLogo {
    filter: drop-shadow(0 0 1px rgb(98 240 175 / 60%)) drop-shadow(0 0 8px rgb(98 240 175 / 50%)) drop-shadow(0 0 0.7rem rgb(98 240 175 / 30%)) drop-shadow(0 0 2rem rgb(98 240 175 / 20%))
}

.mud-toolbar-appbar #HeaderLogo {
    filter: drop-shadow(0 0 1px rgb(98 240 175 / 60%)) drop-shadow(0 0 2px rgb(98 240 175 / 50%)) drop-shadow(0 0 0.5rem rgb(98 240 175 / 30%)) drop-shadow(0 0 2rem rgb(98 240 175 / 20%));
    transition: 0.75s ease-in-out;
}