@inject ClientUserProvider UserProvider
@inject NavigationManager navMan;

<MudAppBar Elevation="1">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => MenuButtonCallback())" />

    <a ID="HeaderLogoButton" href="/">
        <img ID="HeaderLogo" src="./rustlinkerlogo.png" style="height: 50px" />

        <MudText Typo="Typo.h2" Class="ml-3">RustLink</MudText>
    </a>
 
    <MudSpacer />
        
    <AuthorizeView>
        <Authorized>
            <MudMenu FullWidth="true" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Style="width: 200px;flex-direction: row-reverse">
                <ActivatorContent>
                    <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
                    <img ID="UserAvatar" src="@UserProvider.User.AvatarImageURL" style="height: 50px" />
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem href="/profile">                        
                        Profile
                    </MudMenuItem>
                    <MudMenuItem OnClick="SignOut">
                        Sign Out
                    </MudMenuItem>
                </ChildContent>
            </MudMenu>
            
        </Authorized>
        <NotAuthorized>
            <MudButton Color="Color.Primary" Variant="Variant.Filled">
                LINK YOUR ACCOUNT
            </MudButton>
        </NotAuthorized>
    </AuthorizeView>
        
    
    
</MudAppBar>

@code
{
    [Parameter] public Action MenuButtonCallback { get; set; }

    private void SignOut()
    {
        navMan.NavigateTo("signout", forceLoad: true);
    }
}

